node_modules

# removing my original kline.js to protect my api for I use this program myself daily
# rename kline copy.js to kline.js and place in your API Keys from either Binance.com or Binance.us.com.
TVChartsOwnData/WSGETKlineData/kline.js